@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url(`/../../../public/futuristic-technological-wallpaper_79603-1092.jpg); ;
  background-repeat: no-repeat;
  background-size: cover;
}
